
body{
    background: linear-gradient(180deg, #374151 0%, #111827 100%);

}

nav {
    color: #FFFFFF;
    font-size: 16px;
    padding: 33px 50px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.header_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px 77px;
}

.header_nav{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.search_content img{
    position: relative;
    width: 14px;
    height: 14px;
    left: 25px;
}
.search_content input{
    padding: 5px 15px;
    margin: 0px;
    border-radius: 100px;
    height: 40px;
}

input{
    background-color: #1F293799;
    width: 224px;
    height: 40px;
    margin-top: 71px;
    margin-right: 180px;

    
}
input::placeholder{
   padding: 0 10px;
   color: #FFFFFF;
   font-size: 16px;
   font-family: "Roboto";
   
    
}
.date{
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 14px;
    padding: 0px;
    opacity: 60%;
}

h1{
    color: #FFFFFF;
    font-size: 24px;
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 24px;
}

.avatar{
    padding: 0;
    margin-bottom: 28px;
    width: 50px;
    height: 50px;
    margin: 30px 16px ;
    
}

.name{
    color: #FFFFFF;
    font-size: 16px;
    padding: 0px;
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 0px;
}
.proffecional__date{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.proffesion{
    color: #FFFFFF;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 28px;
    opacity: 60%;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 0;
    
}

.info{
    padding: 0px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__description{
    display: flex;
    flex-direction: column;
}

.computer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pc{
    padding: 0px;
    margin-bottom: 69px;
   
}
.first-paragraph{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.first_text{
    color: #FFFFFF;
    font-size: 20px;
    width: 708px;
    height: 101px;
    margin: 0px 0px 10px 0px;

}

.second-paragraph{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}  
.second_text{
        color: #FFFFFF;
        font-size: 16px;
        padding: 0px;
        margin-top: 85px;
        margin-bottom: -160px;
        width: 708px;
        height: 281px;
    }

.third_text{
    color: #FFFFFF;
    font-size: 16px;
    padding: 0px;
    margin-top: 10px;
    width: 708px;
    height: 281px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

footer{
    color: #FFFFFF;
    font-size: 16px;
    opacity: 60%;
    margin: 103px 606px 77px 608px;
}